[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pytest = "*"
pypdf2 = "*"
langgraph = "*"
langchain = "*"
langchain-community = "*"
huggingface-hub = "*"
ipython = "*"
langchain-huggingface = "*"
google-cloud-bigquery = "*"
pytest-cov = "*"
python-dotenv = "*"

[dev-packages]
pandas = "*"

[requires]
python_version = "3.11"
